<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="App drawer">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <span>Ehpad meal manager</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button
          class="example-icon"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with share icon">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item *ngFor="let menuEntry of menuEntries" role="listitem" (click)="onMenuItemClick(menuEntry)">
        <mat-icon mat-list-icon>{{menuEntry.icon}}</mat-icon>
        {{menuEntry.label}}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
